## Chapter 2

In [41]:
# 10
file = "./input/hightemp.txt"
c = 0
with open(file) as f:
    for _ in f:
        c += 1
print(c)
#!wc -l ./input/hightemp.txt

0

In [30]:
# 11
with open(file) as f:
    for i in f:
        print(i.replace("\t"," "))
#!tr "\t" " " < hightemp.txt

高知県 江川崎 41 2013-08-12

埼玉県 熊谷 40.9 2007-08-16

岐阜県 多治見 40.9 2007-08-16

山形県 山形 40.8 1933-07-25

山梨県 甲府 40.7 2013-08-10

和歌山県 かつらぎ 40.6 1994-08-08

静岡県 天竜 40.6 1994-08-04

山梨県 勝沼 40.5 2013-08-10

埼玉県 越谷 40.4 2007-08-16

群馬県 館林 40.3 2007-08-16

群馬県 上里見 40.3 1998-07-04

愛知県 愛西 40.3 1994-08-05

千葉県 牛久 40.2 2004-07-20

静岡県 佐久間 40.2 2001-07-24

愛媛県 宇和島 40.2 1927-07-22

山形県 酒田 40.1 1978-08-03

岐阜県 美濃 40 2007-08-16

群馬県 前橋 40 2001-07-24

千葉県 茂原 39.9 2013-08-11

埼玉県 鳩山 39.9 1997-07-05

大阪府 豊中 39.9 1994-08-08

山梨県 大月 39.9 1990-07-19

山形県 鶴岡 39.9 1978-08-03

愛知県 名古屋 39.9 1942-08-02

In [31]:
# 12
with open(file) as f, open("./output/col1.txt","a") as c1,open("./output/col2.txt","a") as c2:
    for i in f:
        txt = i.split("\t")
        c1.write(txt[0]+"\n")
        c2.write(txt[1]+"\n")
#!cut -f 1 hightemp.txt > ../output/col1_c.txt
#!cut -f 2 hightemp.txt > ../output/col2_c.txt

In [33]:
# 13
with open("./output/col1.txt","r") as c1,open("./output/col2.txt","r") as c2,\
    open("./output/col_marge.txt","w") as f:
    for i,j in zip(c1,c2):
        f.write(i.rsplit()[0] + "\t" + j.rsplit()[0]+"\n")    
#!paste col1.txt col2.txt > col_marge1.txt

In [34]:
 #14
N = 10
for i,j in enumerate(open("./output/col_marge.txt","r")):
    if(i==N):
        break
    print(j)
#!head -n 3 col_marge.txt

高知県	江川崎

埼玉県	熊谷

岐阜県	多治見

山形県	山形

山梨県	甲府

和歌山県	かつらぎ

静岡県	天竜

山梨県	勝沼

埼玉県	越谷

群馬県	館林

In [35]:
# 15
N = 10
for i,j in enumerate(reversed(open("./output/col_marge.txt","r").readlines())):
    if i == N:
        break
    print(j)
#!tail -n 10 col_marge.txt

愛知県	名古屋

山形県	鶴岡

山梨県	大月

大阪府	豊中

埼玉県	鳩山

千葉県	茂原

群馬県	前橋

岐阜県	美濃

山形県	酒田

愛媛県	宇和島

In [75]:
#16
file = "./input/hightemp.txt"
N = 8
idx = N
with open(file,"r") as f:
    line = f.readlines()
    for i in range(int(len(line)/N)):
        with open(f"./output/split_file{i}.txt","a") as ff:
            [ff.write(line[i*N:N*(i+1)][j]) for j in range(N)]

In [76]:
#17
l = []
with open(file,"r") as f:
    line = f.readlines()
    for data in line:
        str = data.split("\t")
        if str[0] not in l:
            l.append(str[0])
print(l)

['高知県', '埼玉県', '岐阜県', '山形県', '山梨県', '和歌山県', '静岡県', '群馬県', '愛知県', '千葉県', '愛媛県', '大阪府']

In [83]:
# 18
file = "./input/hightemp.txt"
lines = open(file).readlines()
lines.sort(key=lambda line: float(line.split('\t')[2]), reverse=True)

print(" ".join(lines))

高知県	江川崎	41	2013-08-12
 埼玉県	熊谷	40.9	2007-08-16
 岐阜県	多治見	40.9	2007-08-16
 山形県	山形	40.8	1933-07-25
 山梨県	甲府	40.7	2013-08-10
 和歌山県	かつらぎ	40.6	1994-08-08
 静岡県	天竜	40.6	1994-08-04
 山梨県	勝沼	40.5	2013-08-10
 埼玉県	越谷	40.4	2007-08-16
 群馬県	館林	40.3	2007-08-16
 群馬県	上里見	40.3	1998-07-04
 愛知県	愛西	40.3	1994-08-05
 千葉県	牛久	40.2	2004-07-20
 静岡県	佐久間	40.2	2001-07-24
 愛媛県	宇和島	40.2	1927-07-22
 山形県	酒田	40.1	1978-08-03
 岐阜県	美濃	40	2007-08-16
 群馬県	前橋	40	2001-07-24
 千葉県	茂原	39.9	2013-08-11
 埼玉県	鳩山	39.9	1997-07-05
 大阪府	豊中	39.9	1994-08-08
 山梨県	大月	39.9	1990-07-19
 山形県	鶴岡	39.9	1978-08-03
 愛知県	名古屋	39.9	1942-08-02

In [106]:
#19
dict = {}
with open(file,"r") as f:
    for i in f:
        d = i.split("\t")[0]
        if d not in dict.keys():
            dict[d] = 1
        dict[d]+=1
sorted(dict.items(),key = lambda x:-x[1])

[('埼玉県', 4),
 ('山形県', 4),
 ('山梨県', 4),
 ('群馬県', 4),
 ('岐阜県', 3),
 ('静岡県', 3),
 ('愛知県', 3),
 ('千葉県', 3),
 ('高知県', 2),
 ('和歌山県', 2),
 ('愛媛県', 2),
 ('大阪府', 2)]